<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- 今回のサンプルで使用しているCSS（bootstrap）の読み込み -->
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
			integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
			crossorigin="anonymous">
		<title>イベント一覧</title>
	</head>
	<body>
		<div class="login align-items-center py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-lg-8 mx-auto">
						<h3 class="login-heading my-4">イベント一覧</h3>
						<!-- Thymeleafの繰り返し処理 -->
						<!-- modelにusersというキーでセットされてきたリストを繰り返しで表示 -->
						<!-- リスト（配列）のusersから1ずつ要素を取得してuser（変数）に格納 -->
						<table class="table table-striped">
							<!-- user（UserListクラス）のgetNameメソッドを実行して名前を画面に表示 -->
							<tr>
								<th>イベントID</th>
								<th>イベント名</th>
								<th>イベント開催日</th>
								<th>イベント開催場所</th>
							</tr>
							<tr th:each="event : ${eventList}">
								<td><a th:href="@{entry/{eventId}(eventId=${event.eventId})}" th:text="${event.eventId}"></a></td>
								<td th:text="${event.eventName}"></td>
								<td th:text="${event.eventDate}"></td>
								<td th:text="${event.eventVenue}"></td>
							</tr>
						</table>
						<br>
						<h3 class="login-heading my-4">新しくイベントを登録する</h3>
						<form action="regist" method="get">
							<button
								class="btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2"
								type="submit">新規登録</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>