<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- 今回のサンプルで使用しているCSS（bootstrap）の読み込み -->
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
			integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
			crossorigin="anonymous">
		<title>output</title>
	</head>
	<body>
		<div class="login align-items-center py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-lg-8 mx-auto">
						<h3 class="login-heading my-4">新規イベント登録</h3>
						<form action="eventregist" method="post">
							<div class="form-label-group">
								<label for="eventName">イベント名</label>
								<input type="text"
									id="eventName"
									name="eventName"
									class="form-control">
							</div>
							<div class="form-label-group">
								<label for="eventDate">イベント開催日</label>
								<input type="date"
									id="eventDate"
									name="eventDate"
									class="form-control">
							</div>
							<div class="form-label-group">
								<label for="eventVenue">イベント開催場所</label>
								<input type="text"
									id="eventVenue"
									name="eventVenue"
									class="form-control">
							</div>
							<br>
							<button
								class="btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2"
								type="submit">登録</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>